*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column;

    background-color: #0f1317;
    color: white;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.componente {
    background-color: rgb(30, 30, 30);
    margin: 20px;
    padding-inline: 40px;
    padding-block: 20px;
}

.titulo {
    margin: 20px;

    font-size: 1.5em;
}

.listaClientes {
    list-style: none;
}