*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;

  background-color: #0f1317;
  color: white;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.componente {
  background-color: rgb(30, 30, 30);
  margin: 20px;
  border: 1px solid white;
  padding-inline: 40px;
  padding-block: 20px;
}

.componente2 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20em;
  height: 60px;
  margin: 15px;
  gap: 20px;

  border: 1px solid white;
}

.navegacao {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 10px;
}

.navegacao button {
  color: white;
  background-color: transparent;
  font-size: 0.9em;

  padding: 9px;

  border: 1px solid white;
  border-radius: 15px;
}

.navegacao button:hover {
  color: #a6f4ff;
  border: 1px solid #a6f4ff;
  transition: 0.5s;
}

.funcExtra {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 10px;
  margin-block: 20px;
}

.funcExtra button {
  color: white;
  background-color: transparent;
  font-size: 0.9em;

  padding: 9px;

  border: 1px solid white;
  border-radius: 15px;
}

.funcExtra button:hover {
  color: #a6f4ff;
  border: 1px solid #a6f4ff;
  transition: 0.5s;
}

.titulo {
  font-size: 2.1em;
}

.statsVerm {
  color: red;
}

.statsVerde {
  color: green;
}

.statsAma {
  color: yellow
}

.hr {
  margin-block: 15px;
}

.botoes {
  display: flex;

  padding: 15px;
  gap: 25px;
}